# Data Prep

In [33]:
import pandas as pd
import numpy as np

In [168]:
users = pd.read_csv("ref_data/user_table.csv")
users.head()

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male
3   190794  2015-02-18  Desktop  Female
4   537909  2015-01-15  Desktop    Male

In [169]:
users['channel'] = np.random.choice(['search', 'paid_ads'], size=len(users), p=[0.4, 0.6])

In [170]:
users.to_csv("data/users.csv", index=False)

## Step 1 page

In [171]:
home = pd.read_csv("ref_data/home_page_table.csv")
home["page"] = "step1"
home.head()

   user_id   page
0   313593  step1
1   468315  step1
2   264005  step1
3   290784  step1
4   639104  step1

In [172]:
home.count(), home[home.page == "step1"].count()

(user_id    90400
 page       90400
 dtype: int64,
 user_id    90400
 page       90400
 dtype: int64)

In [173]:
home.to_csv("data/step1.csv", index=False)

## Step 2 page

In [175]:
step2 = home.sample(frac=0.9, axis=0)
step2['page'] = 'step2'
step2.to_csv("data/step2.csv", index=False)
step2.head()

       user_id   page
25100   974631  step2
75123   799493  step2
18586   212275  step2
8872    445450  step2
51152   258631  step2

In [176]:
step2.count()

user_id    81360
page       81360
dtype: int64

## Step 3 page

In [177]:
step3 = home.sample(frac=0.8, axis=0)
step3['page'] = 'step3'
step3.to_csv("data/step3.csv", index=False)
step3.head()

       user_id   page
66219   361004  step3
5812    803719  step3
14171   522385  step3
86444   573464  step3
29823   998653  step3

In [178]:
step3.count()

user_id    72320
page       72320
dtype: int64

## Step 4 page

In [179]:
search = pd.read_csv("ref_data/search_page_table.csv")
search['page'] = 'step4'
search.to_csv("data/step4.csv", index=False)
search.head()

   user_id   page
0    15866  step4
1   347058  step4
2   577020  step4
3   780347  step4
4   383739  step4

In [180]:
search.count()

user_id    45200
page       45200
dtype: int64

## Step 5 page

In [181]:
payment_page = pd.read_csv("ref_data/payment_page_table.csv")
payment_page['page'] = 'step5'
payment_page.to_csv("data/step5.csv", index=False)
payment_page.head()

   user_id   page
0   253019  step5
1   310478  step5
2   304081  step5
3   901286  step5
4   195052  step5

In [182]:
payment_page.count()

user_id    6030
page       6030
dtype: int64

## Step 6 page

In [183]:
payment_confirm = pd.read_csv("ref_data/payment_confirmation_table.csv")
payment_confirm['page'] = 'step6'
payment_confirm.to_csv("data/step6.csv", index=False)
payment_confirm.head()

   user_id   page
0   123100  step6
1   704999  step6
2   407188  step6
3   538348  step6
4   841681  step6

In [184]:
payment_confirm.count()

user_id    452
page       452
dtype: int64